@{
    ViewData["Title"] = "index";
    Layout = "_Layout";


}
 
<div id="bodyy">
    <div class="side1">
        <div class="pict">

            <div class="text">
                <img id="img3" src="~/Pictures/PicassoGuernica.jpg" />
                On April 26, 1937, hell broke out over the town of Guernica, the historical and cultural center of the Basque Country. At about 4:30 pm, a two-hour bombardment of the city by the German Condor Legion began. It was followed by a massive fire that turned Guernica into ruins. According to various sources, the bombing claimed the lives of several hundred to several thousand people. Most frightening of all is the fact that most of the victims were women and children, since the bulk of the male population at the time was involved in the fighting in the Spanish Civil War.
                The tragic news from his homeland could not leave Picasso, who has repeatedly declared his political apathy, indifferent. At that time, the artist was working on a canvas for the Spanish Pavilion at the upcoming World Exhibition in Paris. Upon learning about the bombing of Guernica, the artist instantly changes his concept and takes on a new canvas, which has become one of the most powerful artistic and political statements in history.
            </div>
        </div>

        <div class="pict">

            <div class="text">
                <img id="img4" src="~/Pictures/pic.jpg" />
                "Les Demoiselles d'Avignon" (Les Demoiselles d'Avignon) is one of the most famous paintings by Pablo Picasso, painted by a Spanish artist in 1907 and considered today one of the most influential paintings in the history of world painting.
                Shocking and controversial, ahead of its time, not accepted not only by the public, but even by the artist's colleagues, still evoking extremely contradictory feelings - Picasso's painting "The Maidens of Avignon" ("The Maidens of Avignon") opened up a completely new direction in pictorial art - cubism. Today we will recall some interesting facts related to this world famous work of Pablo Picasso.
            </div>
        </div>



    </div>
    <div class="middle">
        <div id="text1">
            Pablo Picasso was born on October 25, 1881 in the city of Malaga, the Anadalusian province of Spain. When baptized, Picasso received the full name of Pablo Diego José Francisco de Paula Juan Nepomuseno Maria de los Remedios Crispin Crispinano de la Santisima Trinidad Ruiz and Picasso - which, according to Spanish custom, was a series of names of revered saints and relatives of the family. Picasso is the mother's surname, which Pablo took, since his father's surname seemed too ordinary to him, besides, Picasso's father, Jose Ruiz, was himself an artist.
            Pablo showed an early talent for drawing. From the age of 7, he studied drawing techniques from his father, who first instructed him to finish painting the pigeons' legs in his paintings. But once, entrusting the thirteen-year-old Pablo to finish painting a rather large still life, he was so impressed by his son's technique that, according to legend, he gave up painting himself.
            At the age of 13, Pablo Picasso brilliantly entered the Barcelona Academy of Arts. It took Picasso a week to prepare for the exam, which usually took students a month. He impressed the commission with his skill and was admitted to the Academy despite his young age. Picasso's father, together with his uncle, decided to send Pablo to the San Fernando Academy of Madrid, which at that time was considered the most advanced Art School in all of Spain. So, Pablo came to Madrid in 1897 at the age of 16. However, classes at the School of Arts did not last long, less than a year, and Pablo was fascinated by all the other delights of Madrid life, as well as the study of the works of artists who impressed him then - Diego Velazquez, Francisco Goya, and especially El Greco.
            A collection of early works by Picasso is located in Barcelona, ​​in the Picasso Museum. The most famous of them: "First Communion" (1896) - a large painting depicting Picasso's sister Lola, "Self-portrait" (1896), "Portrait of a Mother" (1896). As an adult and once visiting an exhibition of children's drawings, Picasso said: "At their age, I painted like Raphael, but it took me a lifetime to learn how to draw like them."
            While studying in Madrid, Picasso made his first tour to Paris, the then recognized European capital of the arts. There, for several months, he visited all museums, without exception, studying the paintings of the great masters: Delacroix, Toulouse-Lautrec, Van Gogh, Gauguin and many others. He was also fond of the art of the Phoenicians and Egyptians, Gothic sculpture, Japanese prints. Pablo was interested in absolutely everything. Then, in the first years of his life in Paris, he met the collector and art dealer Ambroise Vollard, the poets Max Jacob and Guillaume Apollinaire and many others. He visited Paris again in 1901 and 1902, and had already moved there definitively by 1904.<br />

            <br />The "blue" period includes works created between 1901 and 1904. Blue-gray and blue-green deep cold colors, colors of sadness and despondency, are constantly present in them. Picasso called blue "the color of all colors." Frequent subjects of these paintings are emaciated mothers with children, vagabonds, beggars, blind people. The most famous works of this period: "Life" (1903), "Breakfast of the Blind" (1903), "Meager Meal" (1904), "Absinthe Drinker" (1901), "Date" (1902), "Mother and Child" ( 1903), "An old beggar with a boy" (1903, "Ironer" (1904), "Two" (1904).<br />
            <br />  The famous "Girl on a Ball" (1905) belongs to the transitional paintings between the "blue" and "pink" periods. The artist plays on the contrast and balance of forms or lines, heaviness and lightness, stability and instability. Also at the end of the "pink period" appeared "antique" paintings - "Boy leading a horse" (1906), "Girl with a goat" (1906) and others.
            During the Second World War, Picasso lived in France, where he became close to the communist participants in the Resistance (in 1944, Picasso even joined the French Communist Party). At this time, he creates such paintings with the same leitmotif of a bull, war and death: Still Life with a Bull Skull (1942), Morning Serenade (1942, National Museum of Modern Art, Center Pompidou, Paris), Slaughterhouse ( 1944-1945, Museum of Modern Art, New York) and the sculpture "The Man with the Lamb" (1944), which was subsequently installed in front of the old Romanesque cathedral on the market square of Vallauris in the south of France.
        </div>

    </div>
    <div class="side2">
        <div class="pict">
            <div class="text">
                <img id="img5" src="~/Pictures/173.jpg" />
                Pablo Picasso, arguably the greatest artist of the 20th century, is best known for two reasons. Firstly, for the invention - together with Georges Braque - of cubism and collage, and secondly, for his anti-war position, expressed in various works of art. Both of these moments come together in The Weeping Woman, one of Picasso's most famous portraits of analytical cubism, but with more realism than usual.

                This painting is an iconic example of Spanish painting. It continues the anti-war theme that the artist began in his epic work Guernica (1937), which became his reaction to the bombing of civilians during the Spanish Civil War. After completing the painting, Picasso spent many months creating a series of images of crying women, the prototype of which was one of the figures in Guernica. The Weeping Woman from the Tate Gallery is the latest and most challenging of the series. Others are kept in such major institutions as the National Gallery of Victoria in Melbourne, the Picasso Museum in Paris, the Los Angeles County Center for the Arts, and others.
            </div>
      </div>

       
    </div>
</div>