*{
    box-sizing:border-box;
    margin:0px;
}

.box {
    height: 470px;
    margin: auto;
    border: 1px solid black;
    text-align: center;
    width: 400px;
    margin-top: 70px;
    display: flex;
    flex-direction:  column;
}
.img1 {
    height: 50%;
    width: 100%;
}
.formm {
    height: 50%;
    background-color: #edcd87;
}
.choose {
    display: flex;
    flex-direction: row;
    height: 20%;
    background: -webkit-linear-gradient(0deg, rgb(158, 117, 25), rgb(188, 139, 64) 50%, rgb(158, 117, 25));
    background: -moz-linear-gradient(0deg, rgb(158, 117, 25), rgb(188, 139, 64) 50%, rgb(158, 117, 25));
    background: linear-gradient(0deg, rgb(158, 117, 25), rgb(188, 139, 64) 50%, rgb(158, 117, 25));
}
.links {
    width: 50%;
    text-decoration: none;
    color: #fffaed;
 padding-top:13px;
}

#link1 {
    border-right: 1px solid #fffaed;
}
#link2 {
    border-left: 1px solid #fffaed;
}

.choose a:hover {
    background: rgb(214,149,9);
    background: radial-gradient(circle, rgba(214,149,9,1) 0%, rgba(252,188,70,1) 100%);
    color: black;
}



.data{
    height:15%;
    text-align:start;
    

}
.dataem {
    font-size: 20px;
  width:20%;
}
.datapas {
    font-size: 20px;
    width: 30%;
}
.input1 {
    border-radius: 10px;
    background-color: #fffaed;
    width:66%;
}
.input2 {
    border-radius: 10px;
    background-color: #fffaed;
    width: 75%;
}
#size{
    height:30%;
}
.btncli {
    font-size: 20px;
    width: 100.3%;
    padding: 10px;
    cursor: pointer;
    background: -webkit-linear-gradient(0deg, rgb(158, 117, 25), rgb(188, 139, 64) 50%, rgb(158, 117, 25));
    background: -moz-linear-gradient(0deg, rgb(158, 117, 25), rgb(188, 139, 64) 50%, rgb(158, 117, 25));
    background: linear-gradient(0deg, rgb(158, 117, 25), rgb(188, 139, 64) 50%, rgb(158, 117, 25));
    color: #fffaed
}
    .btncli:hover {
        background: rgb(214,149,9);
        background: radial-gradient(circle, rgba(214,149,9,1) 0%, rgba(252,188,70,1) 100%);
        color: black;
    }

.datarep {
    font-size: 20px;
    width: 25%;
}

.input3 {
    border-radius: 10px;
    background-color: #fffaed;
    width: 59.5%;
}

#sizer{
    height:15%;
}

.blur {
    position:absolute;
    width: 100%;
    height:100%;
    top: 0px; 
    left: 0px;
    z-index:1;
    

    
}

.bluring {
    filter: blur(8px);
}

.closeLogin{
    width:20px;
    height:20px;
    z-index:3;
    position:absolute;
   margin-left:380px;
   cursor:pointer;
 
}
#boxlog {
    display: flex;
    flex-wrap: nowrap;
    width: 20%;
    text-align: center;
    border-left: 1px solid #fffaed;
   
    font-size: 17px;
}
#welcome {
    width: 80%;
 color:#fffaed;
 padding-top:5%;
}
#logout {
    width: 20%;
    padding-top: 5% !important;
}